html {
    touch-action: manipulation;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0px;
    -webkit-touch-callout: none;
    user-select: none;
    font-family: 'Noto Sans JP', "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
    font-weight: bold;
}

table {
    width: auto;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    display: block;
    width: auto;
    text-align: center;
    border: 1px solid #fff;
}

td.word {
    width: 25em;
    height: 4em;
    background-color: azure;
}

td.word.edit {
    background-color: lightcyan;
}

tr:nth-child(2n) td.word:nth-child(2n),
tr:nth-child(2n+1) td.word:nth-child(2n+1) {
    background-color: lightyellow;
}

tr:nth-child(2n) td.word.edit:nth-child(2n),
tr:nth-child(2n+1) td.word.edit:nth-child(2n+1) {
    background-color: lightcyan;
}

tbody {
    display: flex;
    width: auto;
}

tbody tr {
    display: flex;
    flex-direction: column;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -86px;
    margin-left: -89px;
    text-align: center;
}

a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 50px 20px 0px 20px;
}

a.button {
    color: black;
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    height: 1.4em;
    background-size: contain;
    background-repeat: no-repeat;
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

a.button.text {
    background-image: inherit !important;
    padding: 0 2px;
    font-size: 52px;
}

.word a.button {
    padding: 10px 20px 10px 20px;
    height: 1.8em;
    font-size: 24px;
    max-width: inherit;
}

section.page_tab a {
    padding: 10px 20px 10px 20px;
}

#main {
    float: left;
    transform-origin: left top;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    height: 2.1em;
    line-height: 1em;
    border-bottom: 1px solid #000;
    background-color: #eee;
}